#footer
{
    background-color: #f5f5f5;
}

#main
{
    padding-top:50px;
}

@media screen and (min-width: 700px) {
  .collapes{
      display:none!important;
  }
}

.container .credit
{
    margin: 20px 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding-left: 5px;
  padding-right: 5px;
}
table tr:nth-child(odd) {
  background-color: #f2f2f2;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}

form.form-inline div.form-group label{
    min-width: 100px;
    font-weight:bold;
    margin-right:20px;
}


.validation-error, .validation-error span, .validation-error div{
    color: #ce3535;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}