<section ng-controller="itemController">
    <h2>{{page.title}}<img src="img/38.gif" ng-show="loading"></h2>
    <p class="{{message.messageClass}}">{{message.text}}</p>
    <form name="form" novalidate class="form-horizontal" role="form" ng-submit="update()">
        <div class="form-group">
            <label for="txtCode">Code:</label>
            <input id="txtCode" name="txtCode" type="text" ng-model="item.code" required ng-minlength="3" />
            <span role="alert" class="validation-error" ng-show="form.$submitted || form.txtCode.$touched">
                <span ng-show="form.txtCode.$error.required">Required!</span>
                <span ng-show="form.txtCode.$error.minlength">At least 3 charactors</span>
            </span>
        </div>
        <div class="form-group">
            <label for="txtName">Name:</label>
            <input id="txtName" name="txtName" type="text" ng-model="item.name" required ng-minlength="3" />
            <span role="alert" class="validation-error" ng-show="form.$submitted || form.txtName.$touched">
                <span ng-show="form.txtName.$error.required">Required!</span>
                <span ng-show="form.txtName.$error.minlength">At least 3 charactors</span>
            </span>
        </div>
        <div class="form-group">
            <label for="ddlType">Type:</label>
            <select id="ddlType" name="ddlType" ng-model="item.type" required>
                <option value="">[Please Select]</option>
                <option>Cloth</option>
                <option>Thread</option>
            </select>
            <span role="alert" class="validation-error" ng-show="form.$submitted || form.ddlType.$touched">
                <span ng-show="form.ddlType.$error.required">Required!</span>
            </span>
        </div>
        <div class="form-group">
            <label for="txtSupplier">Supplier:</label>
            <input id="txtSupplier" name="txtSupplier" type="text" ng-model="item.supplier" />
        </div>
        <div class="form-group">
            <label for="txtColor">Color:</label>
            <input id="txtColor" name="txtColor" type="text" ng-model="item.color" />
        </div>
        <div>
            <button type="button" class="btn btn-primary" ng-click="delete()">Delete</button>
            <button type="submit" class="btn btn-primary btn-default"
                    ng-disabled="form.txtCode.$dirty && form.txtCode.$invalid ||
                    form.txtName.$dirty && form.txtName.$invalid ||
                    form.ddltype.$dirty && form.ddltype.$invalid">
                Save
            </button>
        </div>
    </form>
</section>