<section ng-controller="supplierController">
    <h2 ng-click="alert('hi');">{{page.title}}<img src="img/38.gif" ng-show="loading"></h2>
    <p class="{{message.messageClass}}">{{message.text}}</p>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading" ng-click="isCollapsedDiv = !isCollapsedDiv" ng-init="isCollapsedDiv=false;">
                <h4 class="panel-title">
                    List of Suppliers
                </h4>
            </div>
            <div collapse="isCollapsedDiv">
                <div class="panel-body">
                    <div>
                        Search: <input name="txtSearch" ng-model="search" ng-keyup="$event.keyCode == 13 && filter()" /><button ng-click="filter()">Search</button>
                    </div>

                    <hr />
                    <a href="/supplier/new">New</a>
                    <table style="width:98%;">
                        <caption>
                        </caption>
                        <thead>
                            <tr>
                                <th style="min-width:100px;" ng-click="changeSorting($event,'code')">
                                    Code
                                    <span class="glyphicon" ng-class="getIcon($event,'code')"></span>
                                </th>
                                <th style="min-width:200px;" ng-click="changeSorting($event,'name')">
                                    Name
                                    <span class="glyphicon" ng-class="getIcon($event,'name')"></span>
                                </th>
                                <th style="min-width:100px;"></th>
                            </tr>
                        </thead>
                        <tbody collapse="isCollapsed">
                            <tr ng-repeat="supplier in suppliers | limitTo:pageSize">
                                <td>{{ supplier.code }}</td>
                                <td>{{ supplier.name }}</td>
                                <td><a href="/supplier/{{ supplier._id }}">Edit</a></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">
                                    Total: {{totalCount}}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <pagination total-items="totalCount" items-per-page="pageSize" ng-model="pageNumber" ng-change="pageChanged()"></pagination>
                </div>
            </div>
        </div>
    </div>
</section>