<section ng-controller="supplierController">
    <div class="col-lg-12">
        <h1 class="page-header">
            {{page.title}}<img src="img/38.gif" ng-show="loading">
            <small>View</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/">Home</a>
            </li>
            <li>
                <i class="fa fa-file"></i>  <a href="/supplier">Supplier</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Supplier View
            </li>
        </ol>
        <p class="{{message.messageClass}}">
            {{message.text}}<br />
            <span ng-repeat="error in message.errors">{{error.name}}: {{error.message}} </span>
        </p>
        <form name="form" novalidate class="form-horizontal" role="form" ng-submit="update()">
            <div class="form-group">
                <label for="txtCode">Code:</label>
                <input id="txtCode" name="txtCode" type="text" class="form-control" ng-model="supplier.code" required ng-minlength="3" />
                <span role="alert" class="validation-error" ng-show="form.$submitted || form.txtCode.$touched">
                    <span ng-show="form.txtCode.$error.required">Required!</span>
                    <span ng-show="form.txtCode.$error.minlength">At least 3 charactors</span>
                </span>
            </div>
            <div class="form-group">
                <label for="txtName">Name:</label>
                <input id="txtName" name="txtName" type="text" class="form-control" ng-model="supplier.name" required ng-minlength="3" />
                <span role="alert" class="validation-error" ng-show="form.$submitted || form.txtName.$touched">
                    <span ng-show="form.txtName.$error.required">Required!</span>
                    <span ng-show="form.txtName.$error.minlength">At least 3 charactors</span>
                </span>
            </div>
            <div>
                <button type="button" class="btn btn-default" ng-click="back()">Back</button>
                <button type="button" class="btn btn-default" ng-click="delete()">Delete</button>
                <button type="submit" class="btn btn-primary btn-default"
                        ng-disabled="form.txtCode.$dirty && form.txtCode.$invalid ||
                    form.txtName.$dirty && form.txtName.$invalid ||
                    form.ddltype.$dirty && form.ddltype.$invalid">
                    Save
                </button>
            </div>
        </form>
    </div>
</section>